h1 {
    color: red;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #F3F3F3;
    
    .topnav{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        // background-color: #F3F3F3;
        overflow: hidden;
        width: 100%;
        border-radius: 2%;
        display:flex;
        justify-content: space-evenly;
        max-width: 800px;
        color: #411F1F;
        text-decoration: none;
    }
        
    a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        transition:.2s;

      }
    .topnav a:hover {
        // background-color:#86c4BA;
        color: #86c4ba;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }
}

body {
    background-color: #411f1f;
}

#boxContainer {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    //border: 2px solid white;
    margin: 10% auto;
    
    
    .box {
        display: flex;
        order: 5;
        //position: relative;
        //padding: 10px;
        margin: 3% auto;
        //position: absolute;
        //top: 1255px;
        //left: 750px;
        left: 25%;
        //display: inline-block;
        width: 400px;
        height: 500px;
        background-color: #f3f3f3;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        &::after {
            content: "";
            border-radius: 5px;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            opacity: 0;
            -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    
        &:hover {
            -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
            box-shadow: 0px 0px 15px #f3f3f3;
            button {
                background-color: #f3f3f3;
                border: 4px solid black;
                color: #411f1f;
                display: inline-block;
                font-size: 24px;
                margin: auto auto;
                cursor: pointer;

                &:hover {
                    box-shadow: 0px 0px 15px blue;
                }
                
            }
        }
    
        &:hover::after {
            opacity: 1;
        }
        
        p {
            color: black;
        }
        button {
            background-color: #f3f3f3;
            border: 4px solid black;
            color: #411f1f;
            display: inline-block;
            font-size: 24px;
            margin: auto auto;
            cursor: pointer;
            /* padding: 15px 32px;
            //text-align: center;
            //text-decoration: none;
            
            
            margin: 4px 2px;
            cursor: pointer; */
        }
    }

    #item1 {
        background-image: url("../images/522.jpg");
        background-size: cover;
        text-align: center;
    }
    #item2 {
        background-image: url("../images/4.jpg");
        background-size: cover;
    }
    #item3 {
        background-image: url("../images/392.jpg");
        background-size: cover;
    }
    #item4 {
        background-image: url("../images/coach.jpg");
        background-size: cover;
        background-position: center;
        //overflow: hidden;

    }
}

#backdrop {
    position: absolute;
    top: 150px;
    left: 0;
    //background-size: cover;
    width: 100%;
    height: 300px;
    //min-height: 100%;
    background-color: #86c4ba;
    //border: 2px solid pink;
    margin: auto auto;
    z-index: -1;
}
